#map {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.action-bar {
    background-color: #999;
    border-bottom: 1px solid black;
    height: 35px;
}

.action-bar-button {
    height: 100%;
}

.carousel-image {
    width: 800px;
    max-width: 800px;
}

.progress-bar {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
